body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* reusable classes */
.primary-button {
  height: 40px;
  border-radius: 4px;
  background: #E55473;
  border: none;
  padding: 10px 22px;
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}

.section-title  {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.section-description {
  width: 400px;
  margin: auto;
  margin-bottom: 40px;
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

/* header section css */
.hero-section {
  background: rgba(229, 84, 115, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 0px 120px;
  padding-top: 50px;
}

.hero-section div {
  width: 50%;
}

.hero-section-title {
  color: #272727;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
}

.hero-section-description {
  color: rgba(39, 39, 39, 0.60);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  width: 300px;
}

.hero-img {
  width: 100%;
  height: 550px;
}

/* featured flower section */

.featured-flower {
  padding: 100px 120px;
}

.flower-card-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flower-card-1 {
  width: auto;
  height: 300px;
  padding: 50px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px 150px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flower-card-2 {
  width: auto;
  height: 300px;
  padding: 50px 30px 0px 30px;
  display: flex;
  justify-content: center;
  border-radius: 150px 150px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flower-card-3 {
  width: auto;
  height: 300px;
  padding: 50px 30px 0px 30px;
  display: flex;
  justify-content: center;
  border-radius: 150px 150px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.card-image {
  width: 250px;
}

.card-title {
  color: #272727;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration-line: underline;
}

/* delivery info section */

.delivery-info {
  width: auto;
  height: 300px;
  margin: 20px 120px;
  padding: 0px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.delivery-info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* deals section */

.deal-section {
  margin: 100px 0px;
  padding: 50px 120px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-section div {
  width: 50%;
}

.deal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-title {
  color: #272727;
  font-size:25px;
  font-weight: 900;
}

.deal-description {
  color: #272727;
  font-size:12px;
  font-weight: 400;
  text-align: center;
}

.deal-title span {
  color: #E55473;
}

.deal-image-div {
display: flex;
align-items: center;
justify-content: center;
}

/* instagram section */

.instagram-section {
  margin: 0px 120px;
  margin-bottom: 100px;
}

.insta-images-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.insta-image {
  width: 240px;
}

/* email subscribe section */

.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 120px;
  margin-bottom: 100px;
  padding-top: 50px;
  background-image: url(../background/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.subscribe-form {
  margin-bottom: 100px;
}

.email-input {
  width: 500px;
  height: 25px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/* footer */
footer {
  padding: 0px 120px;
  height: 300px;
  background: #111010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: white;
  font-size: 28px;
  font-weight: 900;
}

.footer-title > span {
  color: #E55473;
}

.footer-description {
  width: 400px;
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.copyright {
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 12px;
font-weight: 400;
}